@font-face {
    font-family: 'basier';
    src: url('./fonts/basier/basiercircle-medium-webfont.eot');
    src: url('./fonts/basier/basiercircle-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/basier/basiercircle-medium-webfont.woff2') format('woff2'),
        url('./fonts/basier/basiercircle-medium-webfont.woff') format('woff'),
        url('./fonts/basier/basiercircle-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chaney';
    src: url('./fonts/chaney/chaney-regular-webfont.eot');
    src: url('./fonts/chaney/chaney-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/chaney/chaney-regular-webfont.woff2') format('woff2'),
        url('./fonts/chaney/chaney-regular-webfont.woff') format('woff'),
        url('./fonts/chaney/chaney-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.chaney {
    font-family: "chaney", sans-serif;
}

.basier {
    font-family: "basier", sans-serif;
}

body,
html {
    background-color: #FCFCFC;
    height: 100%;
    width: 100%;
    cursor: none;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
}

.topContainer {
    height: 62%;
    width: 100%;
    background-color: #CBC2BA;
}

.topContent {
    height: 100%;
    padding-top: 80px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lowerContainer {
    height: 38%;
    width: 100%;
    background-color: #0C0C0C;
}

.title {
    font-size: 128px;
    /* font-size: 5.75vw; */
    padding-bottom: 5px;
    color: #0C0C0C;
}

.lowerContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 80px;
    padding-top: 25px;
}

.secondTitle {
    padding-left: 50px;
    /* font-size: 2.90vw; */
    font-size: 64px;
    color: #CBC2BA;
}

.lowerTextContainer {
    display: flex;
    gap: 35px;
    width: 100%;
    height: fit-content;
    align-items: center;
}

.qText {
    /* font-size: 1vw; */
    font-size: 32px;
    color: #CBC2BA;
}

.socialContainer {
    height: 100%;
    align-self: end;
    justify-self: end;

    display: flex;
    align-items: end;
    padding-right: 60px;
    padding-bottom: 60px;
    gap: 25px;
}

.click:hover {
    cursor: pointer;
}

.invert {
    border-radius: 100%;
    outline: 3px solid #0C0C0C;
}

.invert:hover {
    transition: 0.25s;
    outline: 3px solid #CBC2BA;
    border-radius: 100%;
}

.invert rect {
    fill: #CBC2BA;
    transition: 0.5s;
}

.invert:hover rect {
    fill: #0C0C0C;
    transition: 0.25s;
}

.invert g path {
    fill: #0C0C0C;
    transition: 0.5s;
}

.invert:hover g path {
    fill: #CBC2BA;
    transition: 0.25s;
}


#invertedcursor {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #CBC2BA;
    color: #0C0C0C;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: difference;
    transition: transform .2s;
}


@media only screen and (max-width: 1600px) {
    .title {
        font-size: 96px;
    }

    .secondTitle {
        font-size: 48px;
    }

    .qText {
        font-size: 24px;
    }
}

@media only screen and (max-width: 1250px) {
    .title {
        font-size: 72px;
    }

    .secondTitle {
        font-size: 36px;
    }

    .qText {
        font-size: 18px;
    }
}

@media only screen and (max-width: 960px) {
    .title {
        font-size: 54px;
    }

    .secondTitle {
        font-size: 27px;
    }

    .qText {
        font-size: 14;
    }
}

@media only screen and (max-width: 770px) {
    .topContent svg {
        width: 100px;
    }

    .title {
        font-size: 7vw;
    }

    .secondTitle {
        font-size: 4.62vw;
    }

    .qText {
        font-size: 3.50vw;
    }

    .topContent {
        padding-left: 30px;
        padding-top: 30px;
    }

    .lowerContent {
        padding-left: 0px;
        padding-top: 15px;
    }

    .lowerTextContainer {
        gap: 15px;
    }

    .socialContainer {
        padding-right: 30px;
        padding-bottom: 30px;
        gap: 15px;
    }

    .socialContainer svg {
        width: 50px;
    }
}